body {
	background-color:#f0f0f0;
}
#wrapper {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	overflow:visible;
}

#slider {
	position:relative;
	padding:20px;
	overflow:hidden;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
}
.content {
	width:920px;
	float: left;
	position: relative;
	background-color:#FFF;
}
.content a img{
	width: 50vw;
}
.inslider a {
	text-decoration:none;
}
.contentholder {
	height:25vw;
	width: 920px;
	overflow: hidden;
	position: relative;
	background-color:#FFF;
}
.contentslider {
	position: absolute;
	top: 0; left: 0;
}
.imgslider img {
	float: left;
}
.contentnav {

	 height:5vw;
	z-index: 100;
	line-height: 30px;
}
.contentnav a {
	display: inline-block;
	height: 5vw;
	width: 5vw;
	text-align: center;
	line-height: 5vw;
	margin: auto;
	text-transform: uppercase;
	box-shadow: 0px 1px 3px #b6b6b6;
	border-radius: 99px;
	text-decoration: none;
	color: #000;
	border: solid 2px transparent;
}
.contentnav a.active {
	border: solid 2px #c61633;
}