<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

<context-param>
<param-name>developer</param-name>
<param-value>acm-unit</param-value>
</context-param>

<servlet>
<servlet-name>controlServlet</servlet-name>
<servlet-class>controllers.HomeController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>controlServlet</servlet-name>
<url-pattern>*.html</url-pattern>
</servlet-mapping>
  <filter>
    <filter-name>WebtasksCharsetFilter</filter-name>
    <filter-class>filters.WebtasksCharsetFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebtasksCharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>listeners.WebtasksContextListener
    </listener-class>
  </listener>

  <listener>
    <listener-class>listeners.WebtasksSessionListener
    </listener-class>
  </listener>

  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>controllers.HomeController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/admin/home.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/user/home.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AutoController</servlet-name>
    <servlet-class>controllers.AutoController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoController</servlet-name>
    <url-pattern>/admin/auto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoController</servlet-name>
    <url-pattern>/user/auto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoController</servlet-name>
    <url-pattern>/auto</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServiceController</servlet-name>
    <servlet-class>controllers.ServiceController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceController</servlet-name>
    <url-pattern>/admin/service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceController</servlet-name>
    <url-pattern>/user/service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceController</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServicesController</servlet-name>
    <servlet-class>controllers.ServicesController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicesController</servlet-name>
    <url-pattern>/admin/services</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServicesController</servlet-name>
    <url-pattern>/user/services</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServicesController</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OurAutoCenterController</servlet-name>
    <servlet-class>controllers.OurAutoCenterController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OurAutoCenterController</servlet-name>
    <url-pattern>/admin/ourAutoCenter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OurAutoCenterController</servlet-name>
    <url-pattern>/user/ourAutoCenter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OurAutoCenterController</servlet-name>
    <url-pattern>/ourAutoCenter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MicraController</servlet-name>
    <servlet-class>controllers.MicraController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MicraController</servlet-name>
    <url-pattern>/admin/micra.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MicraController</servlet-name>
    <url-pattern>/user/micra.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MicraController</servlet-name>
    <url-pattern>/micra.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MicraViewController</servlet-name>
    <servlet-class>controllers.MicraViewController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MicraViewController</servlet-name>
    <url-pattern>/admin/micraView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MicraViewController</servlet-name>
    <url-pattern>/user/micraView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MicraViewController</servlet-name>
    <url-pattern>/micraView</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>MicraSelectColorController</servlet-name>
    <servlet-class>controllers.MicraSelectColorController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MicraSelectColorController</servlet-name>
    <url-pattern>/admin/micraSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MicraSelectColorController</servlet-name>
    <url-pattern>/user/micraSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MicraSelectColorController</servlet-name>
    <url-pattern>/micraSelectColor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SentraController</servlet-name>
    <servlet-class>controllers.SentraController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentraController</servlet-name>
    <url-pattern>/admin/sentra.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SentraController</servlet-name>
    <url-pattern>/user/sentra.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SentraController</servlet-name>
    <url-pattern>/sentra.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SentraViewController</servlet-name>
    <servlet-class>controllers.SentraViewController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentraViewController</servlet-name>
    <url-pattern>/admin/sentraView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SentraViewController</servlet-name>
    <url-pattern>/user/sentraView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SentraViewController</servlet-name>
    <url-pattern>/sentraView</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SentraSelectColorController</servlet-name>
    <servlet-class>controllers.SentraSelectColorController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentraSelectColorController</servlet-name>
    <url-pattern>/admin/sentraSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SentraSelectColorController</servlet-name>
    <url-pattern>/user/sentraSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SentraSelectColorController</servlet-name>
    <url-pattern>/sentraSelectColor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JukeController</servlet-name>
    <servlet-class>controllers.JukeController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JukeController</servlet-name>
    <url-pattern>/admin/juke.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JukeController</servlet-name>
    <url-pattern>/user/juke.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JukeController</servlet-name>
    <url-pattern>/juke.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JukeController</servlet-name>
    <url-pattern>/juke.php</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>JukeSelectColorController</servlet-name>
    <servlet-class>controllers.JukeSelectColorController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JukeSelectColorController</servlet-name>
    <url-pattern>/admin/jukeSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JukeSelectColorController</servlet-name>
    <url-pattern>/user/jukeSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JukeSelectColorController</servlet-name>
    <url-pattern>/jukeSelectColor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JukeViewController</servlet-name>
    <servlet-class>controllers.JukeViewController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JukeViewController</servlet-name>
    <url-pattern>/admin/jukeView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JukeViewController</servlet-name>
    <url-pattern>/user/jukeView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JukeViewController</servlet-name>
    <url-pattern>/jukeView</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PatrolController</servlet-name>
    <servlet-class>controllers.PatrolController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatrolController</servlet-name>
    <url-pattern>/admin/patrol.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatrolController</servlet-name>
    <url-pattern>/user/patrol.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatrolController</servlet-name>
    <url-pattern>/patrol.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PatrolViewController</servlet-name>
    <servlet-class>controllers.PatrolViewController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatrolViewController</servlet-name>
    <url-pattern>/admin/patrolView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatrolViewController</servlet-name>
    <url-pattern>/user/patrolView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatrolViewController</servlet-name>
    <url-pattern>/patrolView</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>PatrolSelectColorController</servlet-name>
    <servlet-class>controllers.PatrolSelectColorController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatrolSelectColorController</servlet-name>
    <url-pattern>/admin/patrolSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatrolSelectColorController</servlet-name>
    <url-pattern>/user/patrolSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatrolSelectColorController</servlet-name>
    <url-pattern>/patrolSelectColor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QashqaiController</servlet-name>
    <servlet-class>controllers.QashqaiController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QashqaiController</servlet-name>
    <url-pattern>/admin/qashqai.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QashqaiController</servlet-name>
    <url-pattern>/user/qashqai.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QashqaiController</servlet-name>
    <url-pattern>/qashqai.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QashqaiSelectColorController</servlet-name>
    <servlet-class>controllers.QashqaiSelectColorController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QashqaiSelectColorController</servlet-name>
    <url-pattern>/admin/qashqaiSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QashqaiSelectColorController</servlet-name>
    <url-pattern>/user/qashqaiSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QashqaiSelectColorController</servlet-name>
    <url-pattern>/qashqaiSelectColor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QashqaiViewController</servlet-name>
    <servlet-class>controllers.QashqaiViewController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QashqaiViewController</servlet-name>
    <url-pattern>/admin/qashqaiView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QashqaiViewController</servlet-name>
    <url-pattern>/user/qashqaiView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QashqaiViewController</servlet-name>
    <url-pattern>/qashqaiView</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>XTrailController</servlet-name>
    <servlet-class>controllers.XTrailController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XTrailController</servlet-name>
    <url-pattern>/admin/xTrail.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XTrailController</servlet-name>
    <url-pattern>/user/xTrail.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XTrailController</servlet-name>
    <url-pattern>/xTrail.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>XtrailSelectColorController</servlet-name>
    <servlet-class>controllers.XtrailSelectColorController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XtrailSelectColorController</servlet-name>
    <url-pattern>/admin/xTrailSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XtrailSelectColorController</servlet-name>
    <url-pattern>/user/xTrailSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XtrailSelectColorController</servlet-name>
    <url-pattern>/xTrailSelectColor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>XtrailViewController</servlet-name>
    <servlet-class>controllers.XtrailViewController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XtrailViewController</servlet-name>
    <url-pattern>/admin/xTrailView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XtrailViewController</servlet-name>
    <url-pattern>/user/xTrailView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XtrailViewController</servlet-name>
    <url-pattern>/xTrailView</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>MuranoController</servlet-name>
    <servlet-class>controllers.MuranoController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MuranoController</servlet-name>
    <url-pattern>/admin/murano.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuranoController</servlet-name>
    <url-pattern>/user/murano.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuranoController</servlet-name>
    <url-pattern>/murano.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MuranoViewController</servlet-name>
    <servlet-class>controllers.MuranoViewController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MuranoViewController</servlet-name>
    <url-pattern>/admin/muranoView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuranoViewController</servlet-name>
    <url-pattern>/user/muranoView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuranoViewController</servlet-name>
    <url-pattern>/muranoView</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MuranoSelectColorController</servlet-name>
    <servlet-class>controllers.MuranoSelectColorController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MuranoSelectColorController</servlet-name>
    <url-pattern>/admin/muranoSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuranoSelectColorController</servlet-name>
    <url-pattern>/user/muranoSelectColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuranoSelectColorController</servlet-name>
    <url-pattern>/muranoSelectColor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ContactsController</servlet-name>
    <servlet-class>controllers.ContactsController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactsController</servlet-name>
    <url-pattern>/admin/contacts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactsController</servlet-name>
    <url-pattern>/user/contacts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactsController</servlet-name>
    <url-pattern>/contacts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactsController</servlet-name>
    <url-pattern>/contacts.php</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>GuaranteeController</servlet-name>
    <servlet-class>controllers.GuaranteeController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuaranteeController</servlet-name>
    <url-pattern>/admin/guarantee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuaranteeController</servlet-name>
    <url-pattern>/user/guarantee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuaranteeController</servlet-name>
    <url-pattern>/guarantee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AfterSalesController</servlet-name>
    <servlet-class>controllers.AfterSalesController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterSalesController</servlet-name>
    <url-pattern>/admin/afterSales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfterSalesController</servlet-name>
    <url-pattern>/user/afterSales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfterSalesController</servlet-name>
    <url-pattern>/afterSales</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HelpController</servlet-name>
    <servlet-class>controllers.HelpController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpController</servlet-name>
    <url-pattern>/admin/help</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelpController</servlet-name>
    <url-pattern>/user/help</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelpController</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PartsController</servlet-name>
    <servlet-class>controllers.PartsController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartsController</servlet-name>
    <url-pattern>/admin/parts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PartsController</servlet-name>
    <url-pattern>/user/parts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PartsController</servlet-name>
    <url-pattern>/parts</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoyaltyController</servlet-name>
    <servlet-class>controllers.LoyaltyController
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoyaltyController</servlet-name>
    <url-pattern>/admin/loyalty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoyaltyController</servlet-name>
    <url-pattern>/user/loyalty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoyaltyController</servlet-name>
    <url-pattern>/loyalty</url-pattern>
  </servlet-mapping>

</web-app>
